.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  .experience__container > div {
    background: var(--color-bg);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    
    border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
  }
  
  .experience__container > div:hover {
    background: transparent;
    border-color: var(--color-black);
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    /* transform: perspective(1000px) rotateY(-10deg) rotateX(5deg);  */
  }
  
  .experience__container > div:last-child:hover {
    transform: translateY(0px);
	opacity: 1;
  }
  
  .experience__container > h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }
  
  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
  
  .experience__details {
    display: flex;
    gap: 1rem;
  }
  
  .experience__icons {
    margin-top: 6px;
    color: var(--color-primary);
  }
  
  /* -------------------------media query for medium devices--------------------------------------- */
  @media only screen and (max-width: 1024px) {
    .experience__container {
      grid-template-columns: 1fr;
    }
  
    .experience__container > div {
      width: 80%;
      padding: 0.2rem;
      margin: 0 auto;
    }
  
    .experience__content {
      padding: 1rem;
    }
  }
  
  /* -------------------------media query for small devices--------------------------------------- */
  @media only screen and (max-width: 600px) {
    .experience__container {
      gap: 1rem;
    }
  
    .experience__container > div {
      width: 100%;
      padding: 2rem 1rem;
    }
  
    #experience {
      padding-top: 10rem;
      margin-bottom: 10rem;
    }
  }
  